@import '../../../../../scss/colors.scss';

.container {
  background: $white 0% 0% no-repeat padding-box;
  border-radius: 4px;
  box-shadow: 0px 3px 6px $black-russian-shadow;
  height: 118px;
  margin: 10px 14px 10px 0;
  padding: 13px;
  width: 286px;
}

.title {
  color: $emperor;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 0 7px;
  text-align: left;
}

.titleContainer {
  margin-bottom: 5px;
}

.content {
  max-width: 265px;
  min-height: 60px;
}

.description {
  color: $emperor;
  font-size: 14px;
  font-weight: 400;
  margin: 2px;
  padding-left: 23px;
  text-align: left;
}

.line {
  border: 1px solid $emperor;
  opacity: 0.1;
  width: 100%;
}

.link {
  color: $emperor;

  &:hover {
    cursor: pointer;
  }
}

.switch {
  margin-left: 13px;
}
