@import '../../../../../scss/colors.scss';

.button {
  align-self: center;
  background: $mountain-meadow 0% 0% no-repeat padding-box;
  border-radius: 16px;
  border-style: hidden;
  box-shadow: 0px 3px 6px $black-russian-shadow;
  height: 32px;
  padding: 7px 18px;
  width: 86px;

  &:focus {
    outline: none !important;
  }

  &:hover {
    background-color: $cornflower-blue;
    cursor: pointer;
  }
}

.modalOverlay {
  background-color:$modal-background;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modalContent {
  background: $white 0% 0% no-repeat padding-box;
  border-radius: 4px;
  box-shadow: 0px 2px 10px $modal-shadow;
  height: 215px;
  left: 30%;
  padding: 15px 15px 15px 22px;
  position: absolute;
  top: 30%;
  width: 449px;
  z-index: 1000;

  &:focus {
    border: none;
    outline: none !important;
  }
}

.modalBlur {
  filter: blur(100px);
}

.subtitle {
  color: $cornflower-blue;
}

.iconBolt {
  color: $cornflower-blue;
  padding-top: 3px
}

.iconClose {
  color: #9A9A9A;
  width: 15px;
}

.titleContainer {
  margin-bottom: 5px;
}

.description {
  margin-bottom: 20px;
}

.textArea {
  background: $white 0% 0% no-repeat padding-box;
  border: 1px solid $mercury;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  padding: 8px 8px 8px 12px;
  height: 40px;

  &:focus {
    outline: none !important;
    border: 1px solid $mountain-meadow;
  }
}

.content {
  padding-right: 30px;
}
