@import '../../../scss/colors.scss';

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

.description {
  margin: 5px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogoSpin infinite 20s linear;
  }
}

.appHeader {
  align-items: center;
  background-color: $shark;
  color: $white;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.appLink {
  color: $malibu;
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
