$alabaster: #F7F7F7;
$cornflower-blue: #7D60F5;
$emperor: #515151;
$malibu: #61ADFB;
$mercury: #E6E6E6;
$mountain-meadow: #1ABC9C;
$orange: #FF681F;
$shark: #282C34;
$white: #FFFFFF;

$black-russian-shadow: #0000001F;

$modal-background: #0000004D;
$modal-shadow: #00000026;
